= render :partial => 'nav_bar'
.content
  .container
    %br/
    %h1.welcome.row.justify-content-center Projects
    %br/
    .d-flex.justify-content-around
      - @projects.each do |project|
        .col-xs-12
          .card{:style => "width: 20rem;"}
            = image_tag(project.image, class: "card-img-top")
            .card-body
              %h4.card-title= project.title
              %p.card-text= project.description
              = link_to 'Project Page', project_path(project), class: "btn btn-primary"
