= render :partial => 'nav_bar'
.content
  .container
    %br/
    %h1.welcome.row.justify-content-center Projects
    %br/
    .row
      - @projects.each do |project|
        .col-12.col-md-6.col-xl-4.d-flex.justify-content-center
          .card.project-card{:style => "width: 20rem;"}
            = image_tag(project.image, class: "card-img-top")
            .card-body
              %h4.card-title= project.title
              %p.card-text= project.description
              = link_to 'Project Page', project_path(project), class: "btn btn-primary"
